*{
    margin: 0;
    padding: 0;
}

.page{
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 20px;
}

h2{
    text-align: center;
    margin-bottom: 60px;
}

#projects{
    margin-top: 200px;
    margin-bottom: 200px;
}

#projects .projects-list{
    display: flex;
    justify-content: space-between;
}

#projects .project{
    width: 350px;
}

#projects .project img{
    width: 100%;
    height: 380px;
}

#projects .project hr{
    border-top: 6px solid #F7654A;
    width: 55px;
    margin-top: 45px;
    margin-bottom: 15px;
}


#projects .project p{
    color: #999999;
    margin-top: 20px;
}

#activity{
    margin-top: 100px;
    margin-bottom: 100px;
}

#activity .activity-list{
    display: flex;
    justify-content: space-between;
}

#activity .activity-item{
    background-color: #F7F7F7;
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#activity .activity-item p {
    width: 50%;
    text-align: center;
}

#contacts{
    margin-top: 100px;
    margin-bottom: 100px;
}

#contacts .contats-list{
    display: flex;
    justify-content: space-between;
}

#contacts .contact-item{
    width: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contacts .subheader{
    color: #999;
    font-size: 24px;
    margin: 25px 0;
}

#contacts .text{
    font-size: 24px;
    font-weight: 900;
    text-align: center;
}

#contacts .marked{
    color: red;
}
    