*{
    margin: 0;
    padding: 0;
}

.post{
    border: 2px solid black;
    padding: 30px;
    margin: 50px;
    position: relative;
    height: 30px;
    overflow-y: scroll;
}

.post button{
    background-color: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 100%;
    left: 100%;
    padding: 5px;
    transform: translate(-50%, 50%);
}

.marker{
    border: 2px solid #e74c3c;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    background-color: white;
}

nav{
    padding: 30px;
    background-color: #95a5a6;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

nav a{
    color: #2c3e50;
    text-decoration: none;
    margin: 0 20px;
}